<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between" id="my-navbar">
    <a class="navbar-brand" href="/articles">Wikinimous</a>
    <a class="btn btn-primary" href="/articles/new">New Article</a>
</nav>
